/* Tyana, these are the elements I have created for the HOME page:
• .card (div class)- for the News and Events cards
• .caption (p class) - for the card descriptions and for the image captions
• <h5> - for the section "paragraphs"
• <a> - for the links that lead to other pages (outside the nav bar)
• <button> - for the buttons on the home page

Thank you for all your hard work as you are doing amazing!
*/

body {
  background: ##ffffff;
}

nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 177px;
  height: 35px;

  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  /* identical to box height */
  text-align: center;

  color: #ffffff;
}

nav a:link,
nav a:visited {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5em;
  margin: 0.5em;
  transition: background 1s;
}

nav a:hover,
nav a:active {
  color: #df97a6;
}

nav > div {
  position: absolute;
  width: 1440px;
  height: 220px;
  left: 0px;
  top: 0px;

  background: linear-gradient(
    180deg,
    #2d2d2d 0%,
    #2d2d2d 0.01%,
    rgba(45, 45, 45, 0.64) 46.56%,
    rgba(45, 45, 45, 0) 100%
  );
}

main {
  margin-top: 220px;
}

h1 {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 600;
  font-size: 76px;
  line-height: 93px;
  text-align: center;

  color: #000000;
}

h5 {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  text-align: center;

  /* Grey dark */
  color: #2d2d2d;
}

.carousel {
  position: absolute;
  width: 1015px;
  height: 476px;
  left: 214px;
  top: 382px;

  background: url(ScreenShot2021-05-09at3.18.30PM.png), url(unnamed.jpg);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}

.card1 {
  width: 458px;
  height: 466px;
  left: 206px;
  top: 1559px;

  /* Grey med */
  border: 1px solid #656565;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 10px;
}
.card1 img {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 55.46%;

  background: url(ScreenShot2021-06-01at11.33.47AM.png);
  /* Grey med */
  border: 1px solid #656565;
  box-sizing: border-box;
  border-radius: 8px 8px 0px 0px;
}

.card1 a {
  left: 3.74%;
  right: 3.74%;
  top: 48.82%;
  bottom: 46.89%;

  /* Card Title */
  font-family: Jost;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */
  display: flex;
  align-items: center;
  text-decoration-line: underline;

  /* Pink dark */
  color: #9c6a74;
}

.card1 .description {
  left: 3.74%;
  right: 3.74%;
  top: 58.48%;
  bottom: 1.77%;

  /* Captions For Images */
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  color: #000000;
}

.card2 {
  width: 458px;
  height: 466px;
  left: 793px;
  top: 1559px;

  /* Grey med */
  border: 1px solid #656565;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card2 img {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 55.46%;

  background: url(ScreenShot2021-06-01at11.29.15AM.png);
  /* Grey med */
  border: 1px solid #656565;
  box-sizing: border-box;
  border-radius: 8px 8px 0px 0px;
}

.card2 a {
  left: 3.74%;
  right: 3.74%;
  top: 48.82%;
  bottom: 46.89%;

  /* Card Title */
  font-family: Jost;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */
  display: flex;
  align-items: center;
  text-decoration-line: underline;

  /* Pink dark */
  color: #9c6a74;
}

.card2 .description {
  left: 3.74%;
  right: 3.74%;
  top: 58.48%;
  bottom: 1.77%;

  /* Captions For Images */
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  color: #000000;
}

.card2 pre {
  left: 3.74%;
  right: 3.74%;
  top: 58.48%;
  bottom: 1.77%;

  /* Captions For Images */
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  color: #000000;
}

.card3 {
  width: 458px;
  height: 468px;
  left: 793px;
  top: 1559px;

  /* Grey med */
  border: 1px solid #656565;
  box-sizing: border-box;
  border-radius: 8px;
}
